body {
    background-image: url(../images/congruent_outline.png);
}

.jumbotron {
    background-image: url(../images/light_grey.png);
}

.wrong :hover {
    overflow: hidden;
}

#timer {
    font-size: 1.5em;
}

p {
    font-size: 2.5em;
}

.wrongTotal {
    color: red;
}

.right {
    color: green;
}

.lead {
    font-size: 100%;
}
#score {
    color: blue;
}

@media only screen and (max-width: 415px) {
    img[style] {
        min-width: 90% !important;
    }

    .display-4 {
        font-size: 2em;
    }
    
    p {
        font-size: 1.5em;
    }

    .col {
        margin-top: 15px !important;
    }

    #timer, #lead {
        font-size: 1.3em;
    }
    
}
