body {
    background-image: url(../images/congruent_outline.png);
}

.jumbotron {
    background-image: url(../images/light_grey.png);
}

.wrong :hover {
    overflow: hidden;
}

#timer {
    font-size: 1.5em;
}

p {
    font-size: 2.5em;
}

.wrongTotal {
    color: red;
}

.right {
    color: green;
}

.lead {
    font-size: 100%;
}
#score {
    color: blue;
}
