body {
    background-color: rgb(77, 76, 76);
}
.wrong :hover {
    overflow: hidden;
}

#timer {
    font-size: 1.5em;
}
/* button {
    font-size: 7em;
} */
p {
    font-size: 2.5em;
}
.wrongTotal {
    color: red;
}
.right {
    color: green;
}
